#agents_detail th, #agents_detail td {
    border: 1px solid black;
    border-collapse: collapse;
}

#agents_detail {
    border: 2px solid black;
    border-collapse: collapse;
    width: 98%;
}

#skills_detail th, #skills_detail td {
    border: 1px solid black;
    border-collapse: collapse;
}

#skills_detail {
    border: 2px solid black;
    border-collapse: collapse;
    width: 98%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.center {
    text-align: center;
}

.aux_header h4 {
    margin: 0;
    padding: 2px;
}

#lunch {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

#lunch .aux_header {
    background-color: aqua;
    border-bottom: 1px solid black;
}

#break {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

#break .aux_header {
    background-color: greenyellow;
    border-bottom: 1px solid black;
}

#project {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

#project .aux_header {
    background-color: aquamarine;
    border-bottom: 1px solid black;
}